<div id="nasa-wrapper">
    <h1>Nasa API</h1>
    <div id="imgdiv">
        <img id="nasa-picture" src={{pic}} alt="nasa-pic" height="400px" width="500px">
    </div>
    <p>Nasa's picture of the day</p>
    <p>{{expl}}</p>
</div>


